/* Header */
body{
    margin: 0;
}

header{
  background-color: darkgray;
  padding: 5em;
}

.logo {
    height: 10em;
    background-image: url('../img/logo-moto.png');
    background-position: right;
    background-size: 15em;
    background-repeat: no-repeat;
}

header h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 4em;
    color: aliceblue;
}

header p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    color: aliceblue;
}

/* Section */

.productos img,
.texto-producto{
 display: inline-block;
}

.texto-producto{
    vertical-align: top;
}

.productos{
    text-align: center;
    border: 1px solid gray;
    margin: 50px 200px;
}

section div{
    margin-bottom: 2em;
}

section h3{
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}

section p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Footer */

footer{
    padding: 1em;
    background-color: darkgray;
    text-align: center;
    color: aliceblue;
}